

#footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 70px;
    background-color: #666666;
  }

.footer-block {
      margin: 20px 0;
    } /* Vertically center the text there */


.navbar-brand {
	
}